.axis{
    opacity: 1;
    path, line{
      fill: none;
      stroke: none;
      shape-rendering: crispEdges;
    }
    text{
      font-size: 12px;
      fill:$white;
      transform: rotate(-20deg);
    }
}
