#v1_chart {
 overflow: visible;
 padding-top: 10px;
}

.chart-flex{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.y-grid{

}

.svg{
  background-color: $background;
  padding: 20px;
  margin-right: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
}
